<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        <link rel="stylesheet" href="/static/website/style.css">
    </head>
    <body>
        <h1 style="color:rgb(109, 99, 99)">Welcome to ToDo App!</h1>
        <h2 style="color:rgb(109, 99, 99)">Tasks</h2>
        <ul>
            {% for task in tasks %}
            <li>
                {% if task.status == 'Y' %}
                <p1 style="color:rgb(121, 211, 151);">
                    {{task.title}} | {{task.date}} | Done <a href="{% url 'update_task' task.id %}">Update</a>
                </p1>
                <br></br>
                
                {% else %}
                <p2 style="color:rgb(231, 131, 131);">
                    {{task.title}} | {{task.date}} | Pending <a href="{% url 'update_task' task.id %}">Update</a>
                </p2>
                <br></br>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <p><a href="{% url 'new_task' %}">Add New Task</a></p>
        
    </body>
</html>