<div class="row">
    <div class="col-md-4 offset-md-4 mt-4">
        <div class="card">
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" name="username" placeholder="Username" required
                            autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" placeholder="********" required>
                    </div>
                    <button class="btn btn-primary btn-block">
                        SignUp
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>